body {
  align-items: center;
  background-color: rgba(35, 35, 37, 1);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

input, select, button {
  background-color: rgba(23, 23, 23, 1);
  font-size: 20px;
  border-radius: 5px;
  border: 0 none;
  padding: 10px;
  color: white;
  width: 300px;
}

input:focus, select:focus,button:focus {
  background-color: rgba(51, 51, 51, 1);
}

input {
  padding: 10px;
  max-width: 300px;
  width: 280px;
}