.btn {
	text-decoration: none;
	color: white;
	padding: .8rem 1.5rem;
	border-radius: 30px;


}

.btn-green {
	background-color: var(--strong-cyan);
	margin-right: 0.8rem;
}

.btn-blue {
	background-color: var(--light-blue);
}
