

main {
	background-image: url(../images/bg-header-desktop.png);
	background-repeat: no-repeat;
	padding-top: 200px;
	margin-bottom: 10rem;
}

main h1 {
	font-size: 40px;
	margin-top: 6rem;
	margin-bottom: 1rem;

}

.div-btn {
	margin-top: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
}


