* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 18px;
}

h2 {
	font-size: 32px;
}

.title {
	color: hsl(210, 10%, 33%);
	margin-bottom: .8rem;
}

.extern-center {
	display: flex;
	justify-content: center;
}

.center {
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 45%;
}

p {
	color: hsl(201, 11%, 66%);
	margin-bottom: 2rem;
}
